#version: '3'
#
#services:
#  app:
#    build: .
#    ports:
#      - ${HTTP_PORT:-8020}:8000
#    volumes:
#      - .:/app/
#
#  db:
#    image: mariadb:10.5
#    volumes:
#      - ${MYSQL_DATADIR:-/data/concertProject/mysql}:/var/lib/mysql/
#    ports:
#      - ${MYSQL_PORT:-3306}:3306
#    environment:
#      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
#      MYSQL_USER: ${MYSQL_USER:-user}
#      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
#      MYSQL_DATABASE: ${MYSQL_DATABASE:-concert}
